# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/

# ML models
*.keras
*.h5
*.joblib
*.json

# Database
*.db

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# Large health data files
app/data/*.xml
app/data/export*.xml
